
entrypoint = "server.js"
modules = ["nodejs-20", "web"]

[nix]
channel = "stable-24_11"

[deployment]
run = "node server.js"
deploymentTarget = "cloudrun"

[workflows]
runButton = "Start Server"

[[workflows.workflow]]
name = "Start Server"
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node server.js"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80
